<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Sistema_Shajobe.Properties.Settings.SHAJOBEConnectionString"
        connectionString="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=SHAJOBE"
        providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>